body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fefaE0;
}

header {
    background-color: #283618;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #606c38;
}

nav a {
    color: white;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    background-color: #575757;
}

main {
    padding: 1rem;
}
/* Logo formázása és elhelyezése*/
nav {
    display: flex;
    align-items: center;
    justify-content: center; /* Menüpontok középre igazítása */
    position: relative;
    height: 77px; /* Ugyanakkora, mint a logó */
}

.logo-container {
    position: absolute;
    left: 10px; /* Logó balra helyezése */
}

.logo-container img {
    width: 80px; /* Logó mérete */
    height: auto;
}


