body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fefaE0;
}

header {
    background-color: #283618;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 77px;
    padding: 0 20px;
    background-color: #606c38;
}

.logo-container {
    position: absolute;
    left: 10px;
}

.logo-container img {
    width: 100px;
    height: auto;
}

.nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

nav a {
    color: white;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    background-color: #575757;
}

.button-container button {
    --primary-color: #FEFAE0;
    --secondary-color: #111;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    padding: 0.5em 1.2em; /* Kisebb gombméret */
    background: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    font-size: 0.9rem; /* Kisebb betűméret */
}

.button-container button a {
    text-decoration: none;
    color: var(--secondary-color);
}

.button-container button:hover a {
    color: white;
    background-color: #111;
 
}
button:hover{
    background-color: #111;
    transition: 0.3s;

}

.button-container button:hover .arrow::before {
    border-color: white;
}

.button-container button:hover .arrow {
    background: white;
}

button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}

button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger div {
    width: 30px;
    height: 4px;
    background-color: #fff;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        width: 100%;
        flex-direction: column;
        background-color: #606c38;
        position: absolute;
        top: 77px;
        left: 0;
        padding: 10px 0;
    }

    .nav-links a {
        padding: 1rem;
        text-align: center;
        width: 100%;
    }

    .hamburger {
        display: flex;
    }
}