h1{
  text-align: center;
}
/* ez amikor rá mennél hogy foglalás */
.button {
  --width: 100px;
  --height: 35px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #222;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: "Arial";
  transition: background 0.3s;
}

.button::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: #555;
  font-size: 0.9rem;
  color: #fff;
  border-radius: .25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}


.button::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #555;
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}
  
.button::after,.button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
} 
.button:hover {
  background: #222;
}


.button:hover:before,.button:hover:after {
  opacity: 1;
  visibility: visible;
}

.button:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}

/* Táblázat */
.table-wrapper {
  max-height: 500px; 
  overflow-y: auto; 
}
table {
  table-layout: fixed;
  width: 80%;
  margin: auto;
  border-collapse: collapse;
  background: rgba(255, 255, 255, 0.7);
  margin-bottom: 50px;
  border-radius: 10px;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

/* Fejléc */
th {
  background-color: rgba(16, 86, 82, 0.1);
  color: #333;
  font-weight: bold;
  padding: 15px;
  text-align: left;
  border-bottom: 2px solid rgba(16, 86, 82, 0.2);
  text-align: center;
  vertical-align: middle;
}

/* Adatcellák */
td {
  padding: 15px;
  border-bottom: 1px solid rgba(16, 86, 82, 0.1);
  color: #666;
  text-align: center;
  vertical-align: middle;
}

/* Utolsó cella */
table td:last-child {
  text-align: center;
  padding: 0;
  width: 150px;
  margin-bottom: 0px;
}

/* Gomb középre igazítása */
button {
  display: block;
  margin: 0 auto;
}


.purchase-button {
  display: block;
  width: 100px;
  margin: 0 auto;
  padding: 8px 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.purchase-button:hover {
  background-color: #45a049;
}
.card {
  width: 400px;
  background: rgb(255, 250, 235);
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.title {
  width: 100%;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-bottom: 1px solid rgba(16, 86, 82, .75);
  font-weight: 700;
  font-size: 11px;
  color: #000000;
}

.cart {
  border-radius: 19px 19px 0px 0px;
}

/* Checkout */
.payments .details {
  display: grid;
  grid-template-columns: 10fr 1fr;
  padding: 0px;
  gap: 5px;
}

.payments .details span:nth-child(odd) {
  font-size: 12px;
  font-weight: 600;
  color: #000000;
  margin: auto auto auto 0;
}

.payments .details span:nth-child(even) {
  font-size: 13px;
  font-weight: 600;
  color: #000000;
  margin: auto 0 auto auto;
}

.checkout  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 20px;
  background-color: rgba(16, 86, 82, .5);
}

.price {
  position: relative;
  font-size: 22px;
  color: #2B2B2F;
  font-weight: 900;
}

.checkout .checkout-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 36px;
  background: rgba(16, 86, 82, .55);
  box-shadow: 0px 0.5px 0.5px rgba(16, 86, 82, .75), 0px 1px 0.5px rgba(16, 86, 82, .75);
  ;
  border-radius: 7px;
  border: 1px solid rgb(16, 86, 82);
  ;
  color: #000000;
  font-size: 13px;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: black; /* Fekete szín */
  cursor: pointer;
}

.close-btn:hover {
  color: gray;
}

    /* X gomb stílusa */
    .close-btn {
        position: absolute;
        top: 10px;
        right: 15px;
        background: none;
        border: none;
        font-size: 18px;
        cursor: pointer;
    }

    /* Egységes címkék (pl. CHECKOUT, Szállítás, Ár, Név, Lakcím, Telefonszám) */
    .checkout-container label,
    .checkout-container span.title,
    .checkout-container span {
        font-weight: bold;
        font-size: 18px;
        font-family: Arial, sans-serif;
    }

    /* Beviteli mezők */
    .details input {
        padding: 10px;
        font-size: 18px;
        font-family: Arial, sans-serif;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
    }

    /* Az ár formázása */
    #checkout-price {
        font-size: 18px;
        font-family: Arial, sans-serif;
        font-weight: bold;
    }


/* Fizetés ablak középre igazítása */
.fizetes {
  display: none; /* Alapból elrejtve */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: rgb(255, 250, 235);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.confirmation {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;}
/* From Uiverse.io by rzouga001 */ 
.card {
  overflow: hidden;
  position: relative;
  text-align: left;
  border-radius: 0.5rem;
  max-width: 590px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-color: #fff;
}

.div_image_v {
  background: #47c9a2;
  border-bottom: none;
  position: relative;
  text-align: center;
  margin: -20px -20px 0;
  border-radius: 5px 5px 0 0;
  padding: 35px;
}

.dismiss {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: black;
  border: 2px solid #D1D5DB;
  font-size: 1rem;
  font-weight: 300;
  width: 30px;
  height: 30px;
  border-radius: 7px;
  transition: .3s ease;
}

.dismiss:hover {
  background-color: #ee0d0d;
  border: 2px solid #ee0d0d;
  color: #fff;
}

.content {
  margin-top: 0.75rem;
  text-align: center;
}

.title {
  color: #066e29;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}
.confirmation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  z-index: 1000;
  display: none;
}

/* Sor eltűnése */
.fade-out {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}
.checkout-btn:disabled {
  background: gray;
  cursor: not-allowed;
}





@keyframes animate {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.09);
  }
}

/* Reszponzivitás */
@media (max-width: 768px) {
  .table-wrapper {
    max-width: 95%;  /* A táblázat szélessége kisebb képernyőkön */
  }

  th, td {
    padding: 6px;
    font-size: 0.9rem;
  }

  .button-wrapper {
    width: 100px;
    height: 35px;
  }
}

footer{
  position: fixed;
  bottom: 0;
}