body { 
    text-align: center; 
    margin: 0; 
}
.chart-container {
    width: 90%; 
    max-width: 1200px; 
    margin: 0 auto 40px auto;
}
canvas { 
    width: 100% !important; 
    height: 500px !important;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
