body {
    margin: 0;
    font-family: Arial;
    background-color: #cad2c5;
}
table {
    font-size: 12px;
    border: solid 2px #354f52;
    border-collapse: collapse;
}
tr:nth-child(2n) {
    background-color: #84a98c;
}
tr:nth-child(2n+1) {
    background-color: #ffffff;
}
th, td {
    padding: 5px;
    border: solid 1px #52796f;
}
th {
    background-color: #2f3e46;
    color: #ffffff;
}
form #tartalom {
    margin: 0;
}
textarea {
    width: 515px;
    min-height: 100px;
}
#befoglalo {
    width: 960px;
    margin: 20px auto;
    border: solid 10px #52796f;
    background-color: #ffffff;
}
#fejlec {
    text-align: center;
    background-color: #52796f;
    border-bottom: solid 10px #84a98c;
}
#fejlec h1 {
    margin: 0;
    padding: 20px;
    color: #ffffff;
}
#menu {
    float: left;
    width: 200px;
    text-transform: uppercase;
}
#menu ul {
    padding: 0;
}
#menu li {
    display: block;
    margin-bottom: 2px;
    list-style-type: none;
}
#menu a {
    color: #ffffff;
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    background-color: #2f3e46;
}
#menu a:hover {
    color: #ffffff;
    background-color: #52796f;
}
#menu a.aktiv {
    color: #ffffff;
    background-color: #84a98c;
}
#tartalom {
    min-height: 400px;
    margin: 20px 220px;
}
#tartalom h2 {
    margin-top: 0;
    font-size: 18px;
    border-bottom: solid 1px #2f3e46;
    color: #52796f;
}
#tartalom p {
    text-align: justify;
    color: #354f52;
}
#tartalom a {
    color: #52796f;
    text-decoration: none;
}
#tartalom a:hover {
    color: #2f3e46;
}
#oldalsav {
    float: right;
    width: 200px;
    margin-top: 20px;
}
#oldalsav h3 {
    margin-top: 0;
    font-size: 18px;
    border-bottom: solid 1px #2f3e46;
    color: #52796f;
}
#lablec {
    clear: both;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    background-color: #354f52;
    border-top: solid 10px #84a98c;
}
