table {
    border-collapse: collapse;
    background-color:rgba(250, 243, 224, 0.5);
    width: 100%;
}
table th, table td {
    padding: 8px;
    text-align: left;
    border: 3px solid #fff;
}
img {
    max-width: 100px;
    max-height: 110px;
}
table th{
    text-align: center;
}
table tr:nth-child(even) {
    background-color: #f2f2f277;
}

@media only screen and (max-width: 600px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    .pagination a {
        padding: 5px;
        font-size: 0.9em;
    }
}
