table {
    border-collapse: collapse;
    background-color:rgba(250, 243, 224, 0.5);
    width: 100%;
}
table th, table td {
    padding: 8px;
    text-align: left;
    border: 3px solid #fff;
}
img {
    max-width: 100px;
    height: auto;
}
table th{
    text-align: center;
}