body {
    background-image: url('../cowPicture/ChatGPT\ Image\ 2025.\ ápr.\ 2.\ 10_04_31.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  
    
}
h1{
    color: white;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 25PX auto;
    
}
.vaccination-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 190px;
    height: 254px;
    border-radius: 50px;
    background: #8FBC8F; /* Természetes zöld árnyalat */
    box-shadow: 5px 5px 10px #6E8B6E, -2px -2px 5px #A9D0A9;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s, background 0.3s;
}

.card:hover {
    transform: scale(1.05);
    background: #6E8B6E; /* Sötétebb árnyalat hover esetén */
}

.description {
    display: none;
    padding: 5px;
    font-style: italic;
    opacity: 0;
    transition: opacity 0.3s;
}
