body{
    background-image: url('../../cowPicture/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0;
}

main{
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 0;
}

.pagination{
    margin: 10px;
}
.pagination a {
    background-color: aliceblue;
    padding: 0 10px;
    color:rgb(0, 51, 102);

}

.pagination a.active {
    background-color: #606c38;
    color: white;
    border-radius: 5px;
}
.pagination a:hover {
    background-color: #283618;
    color: white;
}

