body{
    background-image: url(../../cowPicture/bg.png);
    background-repeat: no-repeat;  
    background-size: 100% ; 
}

main{
    width: 80%;
    text-align: center;
    margin: auto;   
}

.pagination{
    margin: 20px;
}
.pagination a {
    background-color: aliceblue;
    padding: 10px;
    color:rgb(0, 51, 102);

}